body {
    height: 100vh;
    max-width: 100%;
    background: rgb(57, 66, 77);
    background: linear-gradient(90deg, rgba(57, 66, 77, 1) 0%, rgba(28, 45, 62, 1) 50%, rgba(67, 84, 100, 1) 100%);
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 4rem;
    color: #e5e2ea;
    margin-bottom: 0;
}

h2 {
    color: #e5e2ea;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}


p{
    margin: 0.2rem;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.show-search-container{
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    color: #607382c8;
}


input {
    height: 2rem;
    text-align: center;
}


.add-movie-btn,
.Show-all-movies,
.search-by-title {

    color: #e5e2ea;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    border-radius: 5rem;
    border-style: none;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: #607382c8;
    margin: 1rem;

}

.movie-list {
    max-width: 70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0rem;
    margin-bottom: 2rem;
    padding: 0rem 5rem 0rem 5rem;
    color: #e5e2ea;
    word-break: break-all;

}

.Movie-element-container{
    margin: 0rem 1rem 1rem 1rem;
    word-break: break-all;
    width: 210px;
    height: 200px;
}

.delete-button,
.watched-button {
    color: #e5e2ea;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    border-radius: 5rem;
    border-style: none;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: #607382c8;
    margin-top: 1rem;
    margin-right: 0.5rem;
    justify-self: last baseline;
}

.watched-button{
    width: 7rem;
}


.searched-container  {
    margin-left: auto;
    margin-right: auto;
    margin: 1rem;
    padding: 0rem 4rem 0rem 4rem;
    color: #e5e2ea;
}